@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
    background-color: rgb(76, 76, 90);
    color: white;
    font-family: 'Indie Flower', cursive;
}

.popover-content,
.popover {
    background-color: transparent;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 33px;
    width: 270px;
    text-align: center;
    text-transform: uppercase;
}

.popover.bs-tether-element-attached-bottom::after, .popover.popover-top::after,
.popover.bs-tether-element-attached-bottom::before, .popover.popover-top::before {
    visibility: hidden;
    background: transparent;
    border: none;
    border-color: transparent !important;
}

.parrot-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1s;
}

.parrot-image>a {
    cursor: pointer;
}

.parrot-image>a>img {
    -webkit-transition: width 0.3s;
    /* Safari */
    transition: width 0.3s;
}

.parrot-image>a>img:hover {
    width: 270px;
}


.husky-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1s;
}

.husky-image>a {
    cursor: pointer;
}

.husky-image>a>img {
    -webkit-transition: width 0.3s;
    /* Safari */
    transition: width 0.3s;
}

.husky-image>a>img:hover {
    width: 270px;
}