@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
body {
    background-color: rgb(76, 76, 90);
    color: white;
    font-family: 'Indie Flower', cursive;
    overflow-x: hidden;
}

.popover-content,
.popover {
    background-color: transparent;
    border: none;
    font-family: 'Indie Flower', cursive;
    font-size: 55px;
    width: 270px;
    text-align: center;
    text-transform: uppercase;
}

.popover.bs-tether-element-attached-bottom::after, .popover.popover-top::after,
.popover.bs-tether-element-attached-bottom::before, .popover.popover-top::before {
    visibility: hidden;
    background: transparent;
    border: none;
    border-color: transparent !important;
}

.parrot-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1s;
    background: #40E0D0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.parrot-image>a {
    cursor: pointer;
}

.parrot-image>a>img {
    -webkit-transition: width 0.3s;
    /* Safari */
    transition: width 0.3s;
}

.parrot-image>a>img:hover {
    width: 270px;
}


.husky-image {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transition: all 1s;
    background: #085078;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.husky-image>a {
    cursor: pointer;
}

.husky-image>a>img {
    -webkit-transition: width 0.3s;
    /* Safari */
    transition: width 0.3s;
}

.husky-image>a>img:hover {
    width: 270px;
}
